* {
margin: 0;
padding: 0;
}

body {
	background-color: #111;
}

.shown {
	display: inherit;
}
.hidden {
	display: none;
}

#container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 1200px;
	height: 600px;
	
	background-color: #ddd;
	border: 2px solid #000000;
	border-radius: 12px;
	box-shadow: 3px 3px 0px #fe5;
}

#title {
	text-align: center;
	margin-top: 10px;
	font-family: Lobster;
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	font-weight: 100;
	background-color: #111;
	padding-top: 2px;
	padding-bottom: 2px;
}

.box {
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 5px;
}

#imgSpace {
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	width: 800px;
	height: 400px;
	background-color: #fff;
}
#imgSpace * {
	width: 800px;
	height: 400px;
	position: absolute;
}
#imgSpace #finishImg {
	background-color: #d00;
	opacity: 1.0;
}
#imgSpace #burstImg {
	opacity: 0.0;
}

#optBox {
	margin-left: 16px;
	margin-top: 20px;
	width: 336px;
	height: 400px;
	display: inline-block;
	position: absolute;
}
#optBox h2 {
	text-align: center;
	margin-top: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Lobster;
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	font-weight: 100;
	background-color: #111;
}
#optBox h3 {
	margin-top: 24px;
	margin-left: 8px;
	font-family: Lobster;
	font-weight: 100;
	text-align: left;
}
#optBox button {
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	margin: auto;
	
	padding: 4px;
	background-color: #111;
	border: 2px solid #fe5;
	box-shadow: 0px 0px 3px #000;
	font-family: Lobster;
	font-weight: 100;
	font-size: 20px;
	color: #fff;
}
#optBox button:hover {
	background-color: #fff;
	color: #111;
	cursor: pointer;
}
#optBox button:active {
	background-color: #111;
	color: #fff;
	cursor: pointer;
}

#bodyOpt {
	font-family: sans-serif;
	text-align: center;
}
#bodyOpt #Grain input {
	margin: 8px 0px 0px 16px;
}
#bodyOpt #finishColor {
	width: 300px;
	height: 30px;
	margin-top: 8px;
	border: 0;
	border-radius: 0;
	background-color: #fff;
}
#bodyOpt #finishBurst {
	margin-right: 20px;
}
#bodyOpt #redBurst {
	margin-right: 20px;
}

#bodyOpt #finishOpacity {
	width: 300px;
	margin-top: 8px;
}

#hwOpt #hasGuard {
	display: inline-block;
	margin-left: 8px;
}
#hwOpt h4{
	margin-left: 20px;
	margin-top: 8px;
	display: inline-block;
	
	font-family: sans-serif;
	font-weight: 400;
}
#hwOpt select {
	width: 200px;
}
#hwOpt #hidePlug {
	margin-left: 8px;
}
#hwOpt #brassed {
	margin-left: 8px;
}

#neckOpt h4{
	margin-left: 20px;
	margin-top: 8px;
	display: inline-block;
	
	font-family: sans-serif;
	font-weight: 400;
}
#neckOpt select {
	width: 200px;
}



#ctrlSpace {
	margin-left: 20px;
	margin-top: 16px;
	margin-right: 20px;
	height: 80px;	
}
#ctrlSpace div {
	display: inline-block;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 9px;
	font-family: Lobster;
	font-size: 20pt;
	padding: 13px;
	padding-right: 39px;
	padding-left: 39px;
	text-align: center;
	
}
#ctrlSpace div:hover {
	text-decoration: underline;
	cursor: pointer;
}
#ctrlSpace div.active {
	background-color: #111;
	color: #fff;
	border: 2px solid #ddd;
}
#ctrlSpace div.inactive {
	background-color: #fff;
	color: #111;
	border: 2px solid #111;
}

#ctrlSpace #saveCode {
	height: 26px;
	width: 120px;
	padding: 0;
	line-height: 1.6;
	
	position: relative;
	bottom: 21px;
	left: 146px;

	background-color: #fff;
	color: #111;
	border: 2px solid #111;
	font-size: 12pt;
}
#ctrlSpace #loadCode {
	height: 26px;
	width: 120px;
	padding: 0;
	line-height: 1.6;
	
	position: relative;
	top: 12px;
	
	background-color: #fff;
	color: #111;
	border: 2px solid #111;
	font-size: 12pt;
}
#ctrlSpace #code {
	width: 228px;
	height: 40px;
	resize: none;
	top: 12px;
	bottom: 0;
	padding: 4px;
	position: relative;
	
	border: 2px solid #000;
	background-color: #ddd;
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: 400;
}

